<?php

return array(

    //公众平台 https://mp.weixin.qq.com
    'appId' => 'xxx',
    'appSecret' => 'xxx',
    'token' => 'xxx',
    'encodingAesKey' => 'xxx',
    'middleUrl' => null,         //此参数默认为null即可

    //小程序
    'miniAppId' => 'xxx',
    'miniSecret' => 'xxx',

    //微信支付 https://pay.weixin.qq.com
    'mchId' => 'xxx',     // 微信支付商户号
    'apiSecret' => 'xxx', // 在这里设置 https://pay.weixin.qq.com 帐户设置-安全设置-API安全-API密钥-设置API密钥
    //'sslCert' => '/data/cert/apiclient_cert.pem', //发红包、退款等功能需要配置证书，根据实际情况配置，如果只是在线收款，不需要证书
    //'sslKey' => '/data/cert/apiclient_key.pem',
    //'caInfo' => '/data/cert/rootca.pem', //由于绝大部分操作系统已内置了微信支付服务器证书的根CA证书,  2018年3月6日后, 不再提供CA证书文件（rootca.pem）下载

    //日志
    'log' => array(
        'class' => '\PFinal\Wechat\Support\Logger',
        'name' => 'pfinal.wechat',
        'level' => \Monolog\Logger::DEBUG,
        'file' => './wechat.log',
    ),

    //缓存
    'cache' => array(
        'class' => '\PFinal\Cache\FileCache', // 支持切换为Redis或Memcache缓存，默认为文件缓存
        'keyPrefix' => 'pfinal.wechat',
        'cachePath' => './cache',
    ),
);